.headerMobile{
    height: 10vh;
    width: 100%;
    background: #000;
    display: grid;
    position: fixed;
    bottom: 0;
    left: 0;
    /* border-radius: 15px 15px 0 0; */
}

.linkMobile{
    height: 100%;
    display: grid;
    grid-template: 1fr / repeat(5, 1fr);
    justify-items: center;
    align-items: center;
}

.linkMobile a{
    color: white;
}